<div class="main-heading">محصولات پیشنهادی</div>
<i class="flaticon-back b" (click)="scrollLeft()"></i>
<i class="flaticon-next n" (click)="scrollRight()"></i>
<div class="products" #scrollBox>
    
    <div class="products__item">
        <div class="products__item-wraper">
            <figure class="products__item-img">
                <img src="assets/img/items/cast-pan-1.png" alt="" />
            </figure>
            <div class="products__item-title">قابلمه چدنی</div>
            <div class="products__item-category">لوازم منزل</div>
            <div class="products__item-price">
                <del>۶۰۰۰ ریال</del>
                <span><strong>۲۰۰۰</strong> ریال</span>

            </div>
            <div class="products__item-btn"><i class="flaticon-add"></i></div>
            <div class="badge "> <i class="flaticon-discount"></i> <strong> ۴۵ </strong>  تخفیف </div>
        </div>
    </div>
    <div class="products__item">
        <div class="products__item-wraper">
            <figure class="products__item-img">
                <img src="assets/img/items/cast-pan-1.png" alt="" />
            </figure>
            <div class="products__item-title">قابلمه چدنی</div>
            <div class="products__item-category">لوازم منزل</div>
            <div class="products__item-price">
                
                <span><strong>۲۰۰۰</strong> ریال</span>

            </div>
            <div class="products__item-btn"><i class="flaticon-add"></i></div>
            
        </div>
    </div>
    <div class="products__item">
        <div class="products__item-wraper">
            <figure class="products__item-img">
                <img src="assets/img/items/cast-pan-1.png" alt="" />
            </figure>
            <div class="products__item-title">قابلمه چدنی</div>
            <div class="products__item-category">لوازم منزل</div>
            <div class="products__item-price">
                <del>۶۰۰۰ ریال</del>
                <span><strong>۲۰۰۰</strong> ریال</span>

            </div>
            <div class="products__item-btn"><i class="flaticon-add"></i></div>
            <div class="badge "> <i class="flaticon-discount"></i> <strong> ۴۵ </strong>  تخفیف </div>
        </div>
    </div>
    <div class="products__item">
        <div class="products__item-wraper">
            <figure class="products__item-img">
                <img src="assets/img/items/cast-pan-1.png" alt="" />
            </figure>
            <div class="products__item-title">قابلمه چدنی</div>
            <div class="products__item-category">لوازم منزل</div>
            <div class="products__item-price">
                
                <span><strong>۲۰۰۰</strong> ریال</span>

            </div>
            <div class="products__item-btn"><i class="flaticon-add"></i></div>

        </div>
    </div>
    <div class="products__item">
        <div class="products__item-wraper">
            <figure class="products__item-img">
                <img src="assets/img/items/cast-pan-1.png" alt="" />
            </figure>
            <div class="products__item-title">قابلمه چدنی</div>
            <div class="products__item-category">لوازم منزل</div>
            <div class="products__item-price">
                <del>۶۰۰۰ ریال</del>
                <span><strong>۲۰۰۰</strong> ریال</span>

            </div>
            <div class="products__item-btn"><i class="flaticon-add"></i></div>
            <div class="badge "> <i class="flaticon-discount"></i> <strong> ۴۵ </strong>  تخفیف </div>
        </div>
    </div>
   
    
</div>
