<div class="blogNav">
    <!-- <div class="blogNav__logo">
        <img src="assets/img/logo1.png" alt="">
    </div> -->
    <div class="blogNav__search">
        <i class="flaticon-search"></i>
        <input type="text" placeholder="جستجو ... " name="" id="">
        <!-- <button class="btn-primary">جستجو</button> -->
    </div>

    <div class="blogNav__actions">
        <!-- <button class="btn-white ">ثبت نام</button>
        <button class="btn-orange ">ورود به سایت</button> -->
        <i class="flaticon-instagram-1"></i>
        <i class="flaticon-telegram"></i>
        <i class="flaticon-envelope"></i>
    </div>

</div>
