<div class="item">
    <div class="item__category">لوازم چدنی</div>
    <div class="item__title ">قوری گل قرمزی</div>
    <div class="item__img">
        <img src="assets/img/items/feleti-20-2.png" alt="">
    </div>
    <div class="item__addToCard">
        <div [routerLink]="['/home','product']" routerLinkActive="router-link-active"   class="item__addToCard-btn"> <i class="flaticon-add"></i> <span>اضافه به سبد خرید</span></div>
        <div class="item__addToCard-price"> <strong>۱۸۰۰۰</strong> <small>تومان</small> </div>
    </div>
</div>
