// main colors
$primary-color: #fb3449;
$primary-color-2: rgb(255, 167, 35);
$primary-color-3: rgb(29, 172, 172);
$secondary-color: #ffffff;
$third-color: #f8f8f8;
$forth-color: #fdfff4;

$border-color:  #ebebeb;
$bg-color:rgb(245, 245, 245);

// text colors
$text-color-dark : #001736;
$text-color-light: #7e7e7e;

// misc
$border-radius: 2rem;
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-big:  0px 0px 9px 2px rgba(0, 0, 0, 0.16);
$box-shadow-rev: 0px -2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-click: 0px 1px 2px rgba(0, 0, 0, 0.1);


// responsive design bp
$bp-largest: 75em;
$bp-large:62em;
$bp-medium:50em;
$bp-small:42em;

