<div class="featured" *ngIf="shegeft">
    <div class="featured__top">
        <div class="featured__top-text heading-3"> پیشهناد شگفت انگیز</div>
        <button class="featured__top-button">
            <span >مشاهده همه</span>
            <i _ngcontent-pyr-c5="" class="flaticon-back"></i>
        </button>
    </div>
    <div class="featured__timer">
        <span>۲ : ۲۶ : ۴۲</span>
    </div>
    <div class="featured__body">
        <div class="featured__body-img">
            <img src="assets/img/items/cast-pan-1.png" alt="">
        </div>
        <div class="featured__body-info">
            <del>۲۰۰۰ تومان</del>
            <div class="price heading-3">۱۵۰۰ تومان</div>
            <div class="badge "> <i class="flaticon-discount"></i> <strong> ۱۶ </strong>  تخفیف </div>
            <div class="heading-4"> قابلمه استیل نسوز </div>
            <ul>
                <li>خوشمزه </li>
                <li>رنگ نسوز </li>
                <li>بی رنگ  </li>
            </ul>
        </div>
    </div>
</div>

<div class="not-featured" *ngIf="!shegeft">
    <figure>
            <img src="assets/img/f.jpg" alt="">
    </figure>
   
</div>