<div class="footer">
    <div class="footer__info">
        <span style="flex: 3;">
            <i class="flaticon-placeholder-1"></i> آدرس : تهران - میدان آرژانتین
            - خ احمد - شرکت نالینو
        </span>
        <span style="flex: 2;"> <i class="flaticon-phone-call"></i> تماس : ۰۹۱۲۱۲۳ ۴۵۷۸ − ۰۲۱ ۸۸۱ ۴۲۵۶  </span>
        <span style="flex: 1;"> <i class="flaticon-envelope"></i> ایمیل : info@nalino.ir</span>
    </div>
    <div class="footer__items">
        <div class="footer__items-lists">
            <ul>
                <li><strong>لیست همکاران</strong></li>
                <li>ایتم فوتر</li>
                <li>ایتم فوتر</li>
                <li>ایتم فوتر</li>
            </ul>
            <ul>
                <li><strong>کانال های دوستان</strong></li>
                <li>ایتم فوتر</li>
                <li>ایتم فوتر</li>
                <li>ایتم فوتر</li>
            </ul>
            <ul>
                <li><strong>عنوان نهایی</strong></li>
                <li>توضیحات ایتم فوتر</li>
                <li>ایتم فوتر</li>
            </ul>
        </div>

        <div class="footer__items-email">
            <div><strong>خبرنامه</strong></div>
            <div class="mailBox">
                <button class="btn-primary">عضویت</button>
                <input type="text" placeholder="آدرس ایمیل" />
            </div>
        </div>
        <div class="footer__items-download">
            <div><strong>دانلود کاتلوگ</strong></div>
            <i class="flaticon-download"></i>
        </div>
        <div class="footer__items-nemad">
            <img src="assets/img/enemad.png" alt="" />
            <img src="assets/img/enemad.png" alt="" />
        </div>
    </div>
    <div class="footer__social">
        <i class="flaticon-instagram"></i>
        <i class="flaticon-linkedin"></i>
        <i class="flaticon-telegram"></i>
    </div>

    <div class="footer__copy">
        <strong>&copy; تمامی حقوق مادی و معنوی برای نالینو محفوظ است</strong>
        <small>طراحی شده با <i class="flaticon-like"></i> در نالینو</small>
    </div>
</div>
