<div class="allProducts">
    <div class="allProducts__slug">
        <strong>گرانیت</strong> <strong>چدن</strong> 
        <strong>قوری</strong> <strong>گل قرمزی</strong> 
    </div>
    <div class="allProducts__header">
        <div class="allProducts__header-cat">
            <ul>
                <li>قوری درجه یک</li>
                <li>قوری درجه چهارم</li>
                <li>قوری درجه دوم</li>
            </ul>
        </div>
        <div class="allProducts__header-desc">
            <div class="title">دسته بندی قوری و چدن</div>
            <div class="text">
                ورم ساز، تولید کننده لورم ایپسوم فارسی و انگلیسی برای طراحان وب
                و ... لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                و با استفاده از طراحان
            </div>
        </div>

        <figure class="allProducts__header-img">
            <img src="assets/img/items/cast-pan-1.png" alt="" />
        </figure>
    </div>
    <div class="allProducts__banners">
            
                    <figure class="allProducts__banners-banner">
                            <img src="assets/img/f.jpg" alt="">
                    </figure>
                    <!-- <figure class="allProducts__banners-banner">
                            <img src="assets/img/f.jpg" alt="">
                    </figure>
                    <figure class="allProducts__banners-banner">
                            <img src="assets/img/f.jpg" alt="">
                    </figure> -->
                   
                
        </div>
    <div class="allProducts__body">
        <div class="allProducts__body-item">
            <div class="allProducts__body-item-wraper">
                <figure class="allProducts__body-item-img">
                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                </figure>
                <div class="allProducts__body-item-title">قوری حرفه ای</div>
                <div class="allProducts__body-item-category">آبگینه</div>
                <div class="allProducts__body-item-price">
                    <del>۶۰۰۰ ریال</del>
                    <span><strong>۲۰۰۰</strong> ریال</span>
                </div>
                <div class="allProducts__body-item-btn">
                    <i class="flaticon-add"></i>
                </div>
                <div class="badge ">
                    <i class="flaticon-discount"></i>
                    <strong> ۴۵ </strong> تخفیف
                </div>
            </div>
        </div>
        <div class="allProducts__body-item">
            <div class="allProducts__body-item-wraper">
                <figure class="allProducts__body-item-img">
                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                </figure>
                <div class="allProducts__body-item-title">قابلمه چدنی</div>
                <div class="allProducts__body-item-category">لوازم منزل</div>
                <div class="allProducts__body-item-price">
                    <!-- <del>۶۰۰۰ ریال</del> -->
                    <span><strong>۲۰۰۰</strong> ریال</span>
                </div>
                <div class="allProducts__body-item-btn">
                    <i class="flaticon-add"></i>
                </div>
                <!-- <div class="badge "> <i class="flaticon-discount"></i> <strong> ۴۵ </strong>  تخفیف </div> -->
            </div>
        </div>
        <div class="allProducts__body-item">
            <div class="allProducts__body-item-wraper">
                <figure class="allProducts__body-item-img">
                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                </figure>
                <div class="allProducts__body-item-title">قابلمه چدنی</div>
                <div class="allProducts__body-item-category">لوازم منزل</div>
                <div class="allProducts__body-item-price">
                    <!-- <del>۶۰۰۰ ریال</del> -->
                    <span><strong>۲۰۰۰</strong> ریال</span>
                </div>
                <div class="allProducts__body-item-btn">
                    <i class="flaticon-add"></i>
                </div>
                <!-- <div class="badge "> <i class="flaticon-discount"></i> <strong> ۴۵ </strong>  تخفیف </div> -->
            </div>
        </div>
        <div class="allProducts__body-item">
            <div class="allProducts__body-item-wraper">
                <figure class="allProducts__body-item-img">
                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                </figure>
                <div class="allProducts__body-item-title">قابلمه چدنی</div>
                <div class="allProducts__body-item-category">لوازم منزل</div>
                <div class="allProducts__body-item-price">
                    <del>۶۰۰۰ ریال</del>
                    <span><strong>۲۰۰۰</strong> ریال</span>
                </div>
                <div class="allProducts__body-item-btn">
                    <i class="flaticon-add"></i>
                </div>
                <div class="badge ">
                    <i class="flaticon-discount"></i>
                    <strong> ۱۰ </strong> تخفیف
                </div>
            </div>
        </div>
        <div class="allProducts__body-item">
            <div class="allProducts__body-item-wraper">
                <figure class="allProducts__body-item-img">
                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                </figure>
                <div class="allProducts__body-item-title">قابلمه چدنی</div>
                <div class="allProducts__body-item-category">لوازم منزل</div>
                <div class="allProducts__body-item-price">
                    <del>۶۰۰۰ ریال</del>
                    <span><strong>۲۰۰۰</strong> ریال</span>
                </div>
                <div class="allProducts__body-item-btn">
                    <i class="flaticon-add"></i>
                </div>
                <div class="badge ">
                    <i class="flaticon-discount"></i>
                    <strong> ۴۵ </strong> تخفیف
                </div>
            </div>
        </div>
        <div class="allProducts__body-item">
            <div class="allProducts__body-item-wraper">
                <figure class="allProducts__body-item-img">
                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                </figure>
                <div class="allProducts__body-item-title">قابلمه چدنی</div>
                <div class="allProducts__body-item-category">لوازم منزل</div>
                <div class="allProducts__body-item-price">
                    <del>۶۰۰۰ ریال</del>
                    <span><strong>۲۰۰۰</strong> ریال</span>
                </div>
                <div class="allProducts__body-item-btn">
                    <i class="flaticon-add"></i>
                </div>
                <div class="badge ">
                    <i class="flaticon-discount"></i>
                    <strong> ۴۵ </strong> تخفیف
                </div>
            </div>
        </div>
        <div class="allProducts__body-item">
            <div class="allProducts__body-item-wraper">
                <figure class="allProducts__body-item-img">
                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                </figure>
                <div class="allProducts__body-item-title">قابلمه چدنی</div>
                <div class="allProducts__body-item-category">لوازم منزل</div>
                <div class="allProducts__body-item-price">
                    <del>۶۰۰۰ ریال</del>
                    <span><strong>۲۰۰۰</strong> ریال</span>
                </div>
                <div class="allProducts__body-item-btn">
                    <i class="flaticon-add"></i>
                </div>
                <div class="badge ">
                    <i class="flaticon-discount"></i>
                    <strong> ۴۵ </strong> تخفیف
                </div>
            </div>
        </div>
        <div class="allProducts__body-item">
            <div class="allProducts__body-item-wraper">
                <figure class="allProducts__body-item-img">
                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                </figure>
                <div class="allProducts__body-item-title">قابلمه چدنی</div>
                <div class="allProducts__body-item-category">لوازم منزل</div>
                <div class="allProducts__body-item-price">
                    <!-- <del>۶۰۰۰ ریال</del> -->
                    <span><strong>۲۰۰۰</strong> ریال</span>
                </div>
                <div class="allProducts__body-item-btn">
                    <i class="flaticon-add"></i>
                </div>
                <!-- <div class="badge "> <i class="flaticon-discount"></i> <strong> ۴۵ </strong>  تخفیف </div> -->
            </div>
        </div>
        <div class="allProducts__body-item">
            <div class="allProducts__body-item-wraper">
                <figure class="allProducts__body-item-img">
                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                </figure>
                <div class="allProducts__body-item-title">قابلمه چدنی</div>
                <div class="allProducts__body-item-category">لوازم منزل</div>
                <div class="allProducts__body-item-price">
                    <del>۶۰۰۰ ریال</del>
                    <span><strong>۲۰۰۰</strong> ریال</span>
                </div>
                <div class="allProducts__body-item-btn">
                    <i class="flaticon-add"></i>
                </div>
                <div class="badge ">
                    <i class="flaticon-discount"></i>
                    <strong> ۴۵ </strong> تخفیف
                </div>
            </div>
        </div>
    </div>
    <div class="products__container ">
            <app-products></app-products>
    </div>
    <section class="kitchen__container">
        <app-kitchen-news></app-kitchen-news>
    </section>
    <footer class="footer__container">
        <app-footer></app-footer>
    </footer>
</div>
