
<div class="allProducts">
    <div class="allProducts__header" >
        <div></div>
        <div class="allProducts__header-desc">
            <div class="title">دسته بندی اصلی </div>
            <div class="text">
                ورم ساز، تولید کننده لورم ایپسوم فارسی و انگلیسی برای طراحان وب
                و ... لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                و با استفاده از طراحان
            </div>
        </div>
        <div></div>
        
    </div>
    <div class="allProducts__mainCat">
            
                  
                    <div class="allProducts__mainCat-item">
                        <figure class="img">
                                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                     </figure>
                        <div class="text"> 
                            <strong>آلمونیم</strong>
                            <p>توضیحات کوتاه دسته</p>
                        </div>
                        <div class="button"> 
                                <i  class="flaticon-back"></i>
                        </div>
                        
                    </div>
                    <div class="allProducts__mainCat-item">
                        <figure class="img">
                                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                     </figure>
                        <div class="text"> 
                            <strong>آلمونیم</strong>
                            <p>توضیحات کوتاه دسته</p>
                        </div>
                        <div class="button"> 
                                <i  class="flaticon-back"></i>
                        </div>
                        
                    </div>
                    <div class="allProducts__mainCat-item">
                        <figure class="img">
                                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                     </figure>
                        <div class="text"> 
                            <strong>آلمونیم</strong>
                            <p>توضیحات کوتاه دسته</p>
                        </div>
                        <div class="button"> 
                                <i  class="flaticon-back"></i>
                        </div>
                        
                    </div>
                    <div class="allProducts__mainCat-item">
                        <figure class="img">
                                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                     </figure>
                        <div class="text"> 
                            <strong>آلمونیم</strong>
                            <p>توضیحات کوتاه دسته</p>
                        </div>
                        <div class="button"> 
                                <i  class="flaticon-back"></i>
                        </div>
                        
                    </div>
                    <div class="allProducts__mainCat-item">
                        <figure class="img">
                                    <img src="assets/img/items/cast-pan-1.png" alt="" />
                     </figure>
                        <div class="text"> 
                            <strong>آلمونیم</strong>
                            <p>توضیحات کوتاه دسته</p>
                        </div>
                        <div class="button"> 
                                <i  class="flaticon-back"></i>
                        </div>
                        
                    </div>

                
    </div>
    <div class="mainProducts__banners">
            
                    <figure class="mainProducts__banners-banner">
                            <img src="assets/img/1.jpg" alt="">
                    </figure>
                    <!-- <figure class="mainProducts__banners-banner">
                            <img src="assets/img/f.jpg" alt="">
                    </figure>
                    <figure class="mainProducts__banners-banner">
                            <img src="assets/img/3.jpg" alt="">
                    </figure> -->
                   
                
    </div>
    
    <div class="products__container ">
            <app-products></app-products>
    </div>
    <section class="kitchen__container">
        <app-kitchen-news></app-kitchen-news>
    </section>
    <footer class="footer__container">
        <app-footer></app-footer>
    </footer>
</div>