<div class="productDetail">
    <div class="productDetail__title main-heading"> قابللمه خوشگل نالینو</div>

      <table class="productDetail__table">
        <tr class="productDetail__table-row" >
          <th>جنس درب</th>
          <td>فلزی</td>
        </tr>
        <tr class="productDetail__table-row" >
          <th>مشخصات بنده</th>
          <td>تمام چدن رنگی</td>
        </tr>
        <tr class="productDetail__table-row" >
          <th>ابعدا</th>
          <td>۶×۱۴ متر ممکعب</td>
        </tr>
      </table>
</div>
