<div class="articlesPege">
    <div class="articlesPege__scroller" (click)="scrollTop()">
        <i class="flaticon-chevron-arrow-up"></i>
    </div>
    <div class="articlesPege__nav">
        <blog-nav></blog-nav>
    </div>
    <div #nav class="articlesPege__header">
        <div class="articlesPege__header-logo">
            <img src="assets/img/logo1.png" alt="" />
        </div>
        <div class="articlesPege__header-category">
            <ul>
                <li class="active">فروشگاه</li>
                <li class="active">ورزشی</li>
                <li>حمایت کودکان</li>
                <li>تولیدات</li>
                <li>خانگی</li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
    
    
    <div class="articlesPege__insta">
        <div class="main-heading">ما را در اینستاگرام دنبال کنید</div>
        <div class="articlesPege__insta-adress"><a href="www.instagram.com">@nalinoco</a></div>
        <div class="articlesPege__insta-images">
            
                <figure>
                        <span>مشاهده <i class="flaticon-instagram-1"></i></span>
                    <img src="assets/img/food1.jpeg" alt="">
                    
                </figure>
                <figure>
                        <span>مشاهده <i class="flaticon-instagram-1"></i></span>
                    <img src="assets/img/food2.jpeg" alt="">
                </figure>
                <figure>
                        <span>مشاهده <i class="flaticon-instagram-1"></i></span>
                    <img src="assets/img/food3.jpeg" alt="">
                </figure>
                <figure>
                        <span>مشاهده <i class="flaticon-instagram-1"></i></span>
                    <img src="assets/img/food4.jpeg" alt="">
                </figure>
                <figure>
                        <span>مشاهده <i class="flaticon-instagram-1"></i></span>
                    <img src="assets/img/food2.jpeg" alt="">
                </figure>
                <figure>
                        <span>مشاهده <i class="flaticon-instagram-1"></i></span>
                    <img src="assets/img/food1.jpeg" alt="">
                </figure>
            
        </div>
    </div>
    <div class="articlesPege__insta">
        <div class="articlesPege__insta-images">
            
                <div>
                        <span>اینستاگرام <i class="flaticon-instagram-1"></i></span>
                   
                    
                </div>
                <div>
                        <span>تلگرام <i class="flaticon-telegram"></i></span>
                   
                    
                </div>
                <div>
                        <span>فیسبوک <i class="flaticon-instagram-1"></i></span>
                   
                    
                </div>
                <div>
                        <span>لینکداین <i class="flaticon-linkedin-1"></i></span>
                   
                    
                </div>
                <div>
                        <span>مشاهده <i class="flaticon-envelope"></i></span>
                   
                    
                </div>
            
        </div>
    </div>
    <footer class="footer__container">
            <app-footer></app-footer>
           
    </footer>
</div>
 