<div class="profile__address">
    <form class="profile__address__add" action="">
        <div class="main-heading">ثبت آدرس</div>
        <div class="form__group">
            <input
                type=""
                class="form__input"
                placeholder="نام گیرنده"
                id="email"
                required
            />
            <label for="email" class="form__label">نام گیرنده</label>
        </div>
        <div class="form__group">
            <input
                type=""
                class="form__input"
                placeholder="شماره تلفن"
                id="pass"
                required
            />
            <label for="pass" class="form__label">شماره تلفن</label>
        </div>
        <div class="dropDown">
                <ng-select class="custom"></ng-select>
            
        </div>
        <div class="dropDown">
                <ng-select class="custom"></ng-select>
            
        </div>
        <!-- <div class="dropDown">
            <app-drop-down
                [(ngModel)]="ostan.id"
                name="externalVal"
                [placeholder]="'استان'"
            ></app-drop-down> -->
        <!-- </div> -->
        

        <div class="form__group">
            <input
                type=""
                class="form__input"
                placeholder="آدرس کامل"
                id="pass"
                required
            />
            <label for="pass" class="form__label">آدرس کامل</label>
        </div>

        <div class="submit">
            <button class="btn-blue">ثبت آدرس</button>
        </div>
    </form>
    <div class="profile__address__choose">
        <form action="">
            <div class="main-heading">آدرس های ثبت شده</div>
            <ul>
              <li>
                    <span>  آمریکا - والا والاواش - خیابن ۴۳ غربی - کوچه</span>
                <div class="actions">
                        <i class="flaticon-garbage del"></i>
                        <i class="flaticon-edit edit"></i>
                       
                </div>
                
              </li>
              <li>
                    <span>  آمریکا - والا والاواش - خیابن ۴۳ غربی - کوچه</span>
                <div class="actions">
                        <i class="flaticon-garbage del"></i>
                        <i class="flaticon-edit edit"></i>
                       
                </div>
                
              </li>
              <li>
                    <span>  آمریکا - والا والاواش - خیابن ۴۳ غربی - کوچه</span>
                <div class="actions">
                        <i class="flaticon-garbage del"></i>
                        <i class="flaticon-edit edit"></i>
                       
                </div>
                
              </li>
              <li>
                    <span>  آمریکا - والا والاواش - خیابن ۴۳ غربی - کوچه</span>
                <div class="actions">
                        <i class="flaticon-garbage del"></i>
                        <i class="flaticon-edit edit"></i>
                       
                </div>
                
              </li>
            </ul>

            
        </form>
    </div>
</div>
