<div class="categories">
    <div class="categories__line"></div>
    <div class="categories__item">
            <div class="categories__item-title"> گرانیت </div>
    </div>
    <div class="categories__item">
            <div class="categories__item-title"> فولاد </div>
    </div>
    <div class="categories__item">
            <div class="categories__item-title"> پیرانیت </div>
    </div>
    <div class="categories__item">
            <div class="categories__item-title"> چدن </div>
    </div>
    <div class="categories__item">
            <div class="categories__item-title"> چدن </div>
    </div>
</div>
