<div class="profile__transaction">
    <div *ngIf="empty" class="profile__order-empty">
        <p>تراکنشی برای شما ثبت نشده است</p>
        <i class="flaticon-credit-card"></i>
    </div>
    <div *ngIf="!empty" class="profile__order-full">
        <div class="table">
            <table class="resTabe" style="width:100%">
                <tr>
                    <th>تاریخ</th>
                    <th>مبلغ کل</th>
                    <th class="product">وضعیت پرداخت</th>
                    <th>نوع پرداخت</th>
                    <th>نوع ارسال</th>
                    <th>وضعیت سفارش</th>
                </tr>
                <tr class="items">
                    <td class="index">۹۸-۷۸-۵۶ | ۰۹:۴۵</td>
                    <td>
                        ۷۸۰۰۰۰۰۰
                    </td>
                    <td>
                        <strong>تسویه شده</strong>
                    </td>
                    <td>موتور سیکلت</td>
                    <td>
                        تحویل داده شذ
                    </td>
                    <td>
                        تحویل داده شذ
                    </td>
                </tr>
                <tr class="items">
                    <td class="index">۹۸-۷۸-۵۶ | ۰۹:۴۵</td>
                    <td>
                        ۷۸۰۰۰۰۰۰
                    </td>
                    <td>
                        <strong>تسویه شده</strong>
                    </td>
                    <td>موتور سیکلت</td>
                    <td>
                        تحویل داده شذ
                    </td>
                    <td>
                        تحویل داده شذ
                    </td>
                </tr>
                <tr class="items">
                    <td class="index">۹۸-۷۸-۵۶ | ۰۹:۴۵</td>
                    <td>
                        ۷۸۰۰۰۰۰۰
                    </td>
                    <td>
                        <strong>تسویه شده</strong>
                    </td>
                    <td>موتور سیکلت</td>
                    <td>
                        تحویل داده شذ
                    </td>
                    <td>
                        تحویل داده شذ
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
