<div class="articlesPege__body">
    <div class="articlesPege__body-news">
        <div class="articlesPege__body-news-itemSingle">
            <figure>
                <img src="assets/img/food1.jpeg" alt="" />
            </figure>
            <div class="info">
                <div class="time">
                    <div class="date">
                        <span>۴ مهر ۱۳۹۸</span> / <strong> آشپزخانه </strong>
                    </div>
                    <div class="more">
                            <div class="links">
                                    <div class="link">
                                            bit/hgh.th
                                            <i class="flaticon-copy"></i>
                                        </div>
                                    <i class="flaticon-instagram-1"></i>
                                    <i class="flaticon-telegram"></i>
                                    <i class="flaticon-envelope"></i>
        
                                    
                                    
                                </div>
                        <i class="flaticon-share"></i>
                        <span>اشتراک </span>
                        
                    </div>
                    <div
                        [ngClass]="{ liked: liked }"
                        (click)="liked = !liked"
                        class="like"
                    >
                        <i *ngIf="!liked" class="flaticon-like"></i>
                        <i
                            *ngIf="liked"
                            class="flaticon-favorite-heart-button"
                        ></i>
                    </div>
                </div>
                <div class="title">
                    از نویسندگان برجستهٔ معاصر ایالات متحده آمریکا و برندهٔ
                    جایزه نوبل ادبیات
                </div>
                <div class="view">
                    <div>
                        <small>توسط</small>
                        <strong> ارنست همینگوری </strong>
                    </div>
                    <div>
                        <i
                            class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"
                        ></i>
                        <strong> ۱۲۷ </strong>
                    </div>
                    <div>
                        <i class="flaticon-eye"></i>
                        <strong> ۴۷۸ </strong>
                    </div>
                </div>
                <div class="text">
                    این زمینه در حال فعالیت نالینومهدی تاج، رئیس فدراسیون فوتبال
                    پس از پایان مراسم برترین های سال آسیا و کوتاه ماندن
                    می‌توانید بعد از طی‌کردن این مراحل پاستا را در فر بگذارید که
                    روی آن برشته شود. برای این کار کافی است فر را گرم کنید.
                    پاستا را به‌همراه سس در ظرف مخصوص بریزید و روی آن را با پنیر
                    رنده‌شده بپوشانید. می‌توانید آن را داخل فر بگذارید که روی آن
                    برشته شود و طعم بهتری پیدا کند. این مقدار پاستا برای چهار
                    نفر مناسب است و نهایتاً چیزی نزدیک به یک ساعت و نیم از شما
                    وقت می‌گیرد. بتدا سینه‌ی مرغ را به قطعات مربعی یک‌ونیم در
                    یک‌ونیم سانتی‌متر خرد کنید. قابلمه‌ای متوسط بردارید و روی
                    حرارت بگذارید. کره در قابلمه ذوب کنید. قطعات مرغ را به ادویه
                    آغشته کنید و درون ظرف بریزید و هم بزنید. کمی که مرغ‌ها تفت
                    داده شد، سس آلفردو را به آن اضافه کنید و اجازه دهید که کمی
                    بجوشد و مرغ‌ها طعم‌دار شود. قابلمه‌ای دیگر بردارید و پنج
                    پیمانه آب در آن بریزید. پاستا پنه را به‌همراه کمی روغن و
                    اندکی نمک توی آب در حال جوش اضافه کنید. در قابلمه را باز
                    بگذارید که پاستا له نشود. اجازه دهید پاستا پنه به‌خوبی بپزد.
                    بعد از اینکه پاستا پخت، آن را با آب سرد آبکش کنید. از قبل
                    ظرفی که می‌خواهید پاستا را در آن سرو کنید گرم کنید و پاستا
                    پنه را داخل آن بریزید. سس آلفردو را به‌همراه مرغ‌ها روی
                    پاستا پنه بریزید و روی آن را تزئین کنید.
                </div>
            </div>
        </div>

        <div class="articlesPege__tag">
            <div class="articlesPege__tag-item">
                <span>خلاققانه</span>
            </div>
            <div class="articlesPege__tag-item">
                <span>آشپزی</span>
            </div>
        </div>
    </div>
    <div class="articlesPege__body-articles">
        <div class="articlesPege__body-articles-img">
            <img src="assets/img/f.jpg" alt="" />
        </div>
        <div class="main-heading">اخرین پست ها</div>
        <div class="articlesPege__body-articles-item">
            <figure>
                <img src="assets/img/catbg1.jpg" alt="" />
            </figure>
            <div class="info">
                <div class="title ">
                    ارنِست میلر هِمینگوی
                </div>

                <div class="author">
                    <span>توسط</span>
                    <strong>احمد شاملو</strong>
                </div>
            </div>
        </div>
        <div class="articlesPege__body-articles-item">
            <figure>
                <img src="assets/img/catbg2.jpg" alt="" />
            </figure>
            <div class="info">
                <div class="title ">
                    سبک ویژهٔ او در نوشتن او را نویسنده‌ای
                </div>

                <div class="author">
                    <span>توسط</span>
                    <strong>جو بایدن</strong>
                </div>
            </div>
        </div>
        <div class="articlesPege__body-articles-item">
            <figure>
                <img src="assets/img/nat-9.jpg" alt="" />
            </figure>
            <div class="info">
                <div class="title ">
                    ارنست همینگوی بیشتر عمرش سرگرم ماجراجویی بود
                </div>

                <div class="author">
                    <span>توسط</span>
                    <strong>سم تارلی</strong>
                </div>
            </div>
        </div>
        <div class="articlesPege__body-articles-item">
            <figure>
                <img src="assets/img/catbg1.jpg" alt="" />
            </figure>
            <div class="info">
                <div class="title ">
                    ارنِست میلر هِمینگوی
                </div>

                <div class="author">
                    <span>توسط</span>
                    <strong>احمد شاملو</strong>
                </div>
            </div>
        </div>
        <div class="articlesPege__body-articles-tag">
            <span>خلاقیت</span>
            <span>آشپزی</span>
            <span>نالینو</span>
            <span>محصولات</span>
            <span>خلاقیت</span>
        </div>
    </div>
</div>
<app-comments></app-comments>
