<div class="form__group">
    <input
        [(ngModel)]="val"
        (focus)="open = true"
        (focusout)="fOut()"
        
        autocomplete="off"
        type="text"
        class="form__input"
        [attr.placeholder]="placeholder"
        required
    />
   <div  class="option" [ngClass]="{active: open}">
        <div class="option__item"
   
   
    *ngFor="let item of list | dropdown: value"
    (click)="chooseOption(item)"
>
    {{ item.title }}
</div>
   </div>
    <!-- <label class="form__label">شهر</label> -->
 
</div>
