
<div class="main-heading"> مقالات جدید</div>
<div class="articles">
    
    <div class="articles__item">
        <figure class="articles__item-fig">
            <img src="assets/img/a.jpg" alt="" />
        </figure>
        <div class="articles__item-title">مقاله جدید آشپزی</div>
        <div class="articles__item-text">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است
        </div>
        <div class="articles__item-more">ادامه مطلب <i class="flaticon-back"></i> </div>
    </div>
    <div class="articles__item">
        <figure class="articles__item-fig">
            <img src="assets/img/b.jpg" alt="" />
        </figure>
        <div class="articles__item-title">مقاله جدید آشپزی</div>
        <div class="articles__item-text">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است
        </div>
        <div class="articles__item-more">ادامه مطلب <i class="flaticon-back"></i> </div>
    </div>
    <div class="articles__item">
        <figure class="articles__item-fig">
            <img src="assets/img/c.jpg" alt="" />
        </figure>
        <div class="articles__item-title">مقاله جدید آشپزی</div>
        <div class="articles__item-text">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است
        </div>
        <div class="articles__item-more">ادامه مطلب <i class="flaticon-back"></i> </div>
    </div>
</div>
