<div class="main-heading"> خدمات نالینو</div>
<div class="services">
    <div class="services__item">
        <div class="heading-3">گارانتی محصولات نالینو</div>
        <p class="services__item-text">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
        </p>
        <button class="btn-primary">کلیک کنید</button>
    </div>
    <div class="services__item">
        <div class="heading-3">شعب ونمایندگی های نالینو</div>
        <p class="services__item-text">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
        </p>
        <button class="btn-primary">کلیک کنید</button>
    </div>
</div>
