
<div class="body__container">
    <div class="slider__container"> <app-slider></app-slider></div>
    <div class="featured__container"> <app-featured-item></app-featured-item></div>

    <div class="itemAc-1 itemAc"><app-item></app-item></div>
    <div class="itemAc-2 itemAc"><app-item></app-item></div>
    <div class="itemAc-3 itemAc"><app-item></app-item></div>
    <div class="categories__container">
            <app-categories></app-categories>
    </div>
    <section class="services__container"> <app-services></app-services> </section>
    
    <div class="products__container">
        <app-products></app-products>
    </div>
    <section class="articles__container">
        <app-articles></app-articles>
    </section>
    <section class="kitchen__container">
        <app-kitchen-news></app-kitchen-news>
    </section>
    <section class="gallery__container">
        <app-gallary></app-gallary>
    </section>
    <section class="partners__container">
        <app-partners></app-partners>
    </section>
    
    <footer class="footer__container">
        <app-footer></app-footer>
       
    </footer>




</div>